.user-profile-pic{
    display: block;
    overflow: auto;
    margin: 0;
}

.user-profile-pic-image {
    float: left;
    border-radius: 50%;
    width: 38%;
}

.user-profile-pic-details {
    width: 58%;
    float: left;
    margin: 0 auto;
    padding-left: 12px;
}

/* Repo information */

.user-repo-section {
  padding: 0px 24px;
}

.repositories-title{}

.user-repo-item{
    padding: 0px;
    overflow: auto;
    margin: 12px 0px;
}

.user-repo-info{
    width: 75%;
    float: left;
    margin: 0;
}

.user-repo-info > .user-repo-item-link{
    text-decoration: none;
}

.user-repo-item-link:hover{
    background-color: lightgray;    
}

.user-repo-additionals {
  width: 25%;
  float: left;
}
.user-repo-additionals > watchers, forks {
  width: 50%;
  float: left;
}




